.input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 5px;
}

.inputSubmit {
    width: 200px;
    margin-left: auto;
}

.label {
    margin-bottom: 15px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 30px;
}

.contacts {
    width: 500px;
    margin: 0 auto;
}